### Strings

In [1]:
first_name = "Cookie"
last_name = "Monster"

In [2]:
print(first_name + last_name)

CookieMonster

In [3]:
first_name[-1]

'e'

In [4]:
# title() method returns a string with the first character in upper case for every word in the string

message = "  learn to code in python "
print(message.title())
print(message)

  Learn To Code In Python
  learn to code in python

In [5]:
# upper() method returns a string in all upper cases

message = "  learn to code in python "
msg = message.upper()
print(msg)
print(message)

  LEARN TO CODE IN PYTHON
  learn to code in python

In [6]:
print(msg)
print(msg.lower())

  LEARN TO CODE IN PYTHON
  learn to code in python

In [7]:
# strip() method returns a string after removing all leading and following blanks in the string

message = "  learn to code in python "
print(message.strip())
print(message)

learn to code in python
  learn to code in python

In [8]:
# lstrip() method returns a string after removing all leading blanks in the string

message = "  learn to code in python "
print(message.lstrip())
print(message)

learn to code in python
  learn to code in python

In [10]:
# rstrip() method returns a string after removing all following blanks in the string

message = "  learn to code in python        "
print(message.rstrip())
print(message)

  learn to code in python
  learn to code in python

In [11]:
# replace() method returns a string with old substring replaced with new substring

message = "  learn to code in python        "
print(message.replace(' ', '*'))
print(message)

**learn*to*code*in*python********
  learn to code in python

In [12]:
# capitalize() method returns a string with the first character in upper case

message = "learn to code"
print(message)
print(message.capitalize())

learn to code
Learn to code

In [13]:
# what is happening?

message = " learn to code"
print(message)
print(message.capitalize())

 learn to code
 learn to code

In [14]:
"python".capitalize()

'Python'

In [15]:
# center() method returns a centered string


message = "yeah"
print(message)
print(message.center(20))

yeah
        yeah

In [16]:
# count() method returns the occurences of the substring in the given string

message = "  learn to code in python "
print(">>>"+message+"<<<")
message.count("to")

>>>  learn to code in python <<<

1

In [18]:
message.count(" ")

7

In [19]:
message.count("Code")

0

In [20]:
message = "I love Python!"
print(message)
print(message[5])

I love Python!
e

In [21]:
message[-5]

't'

In [22]:
message[20]

IndexError: string index out of range

In [23]:
# len() function returns the number of items in an object


len(message)

14

In [24]:
len("")

0

In [25]:
len("99.99")

5

In [26]:
len("\"")

1

In [27]:
len(123.56789)

TypeError: object of type 'float' has no len()

### Exercise 1
Write a program to right-justify text where the maximum number of characters per line is 50.

In [29]:
line1 = "   beautiful is better than ugly.   "
len(line1)

36

In [49]:
# fix any errors

MAXCHAR = 50

# write code to remove leading and following blanks
print(line1) 
print(line1.strip())

no_char = len(line1.strip())            # returns a number of charcters in line 

# find the number of blanks to fill the line
no_blank = no_char - MAXCHAR
print(no_blank)

# fill the leading blanks
result = "--" * no_blanks 
print(no_blanks)
# concatenate the text to leading blanks



# print out
print("1234567890"*5)
print(result)

beautiful is better than ugly.
beautiful is better than ugly.
-20
20
12345678901234567890123456789012345678901234567890
----------------------------------------

In [45]:
MAXCHAR = 50
line1 = line1.strip()
no_char = len(line1)
no_blanks = MAXCHAR - no_char

result = "  " * no_blanks
result += line1

print("1234567890"*5)
print(result)

12345678901234567890123456789012345678901234567890
                                        beautiful is better than ugly.

### Formatted String
    {}  : a place holder
    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

In [50]:
message = "I love {name}"
print(message.format(name = "Python"))
print(message)

I love Python
I love {name}

In [1]:
print("I love {0}".format("Python"))
print("I love {}".format("Python"))

I love Python
I love Python

In [2]:
print("I love {} and {}".format("to eat", "drink"))

I love to eat and drink

In [3]:
print("I love {} and {}".format("drink", "to eat"))

I love drink and to eat

In [4]:
print("I love {one} and {two}".format(two="drink", one="to eat"))

I love to eat and drink

In [5]:
msg = "My name is {fname}.".format(fname="Elmo")
print(msg)

My name is Elmo.

In [6]:
msg = "Your name is {fname} and you are {age}.".format(fname="Big Bird", age=5)
print(msg)

Your name is Big Bird and you are 5.

In [7]:
msg = "Your name is {0} and you are {1}.".format("Count Von Count", 999)
print(msg)

Your name is Count Von Count and you are 999.

In [8]:
msg = "Your name is {} and you are {}.".format("Cookie Monster", 9)
print(msg)

Your name is Cookie Monster and you are 9.

In [9]:
# :f for fixed point number, default with 6 decimals

price = 9.99
msg = "The price is ${:f}"
print(msg.format(price))

The price is $9.990000

In [10]:
# :.2f for fixed point number, use a period followed by a number to specify the number of decimals

msg = "The price is ${:.2f}"
print(msg.format(price))

The price is $9.99

In [11]:
# :.2f for fixed point number, use a period followed by a number to specify the number of decimals

msg = "The price is ${:.1f}"
print(msg.format(price))

The price is $10.0

In [12]:
# :, to display comma as a thousand separator

msg = "Total price is ${:,}"
print(msg.format(price*10000))

Total price is $99,900.0

In [13]:
msg = "Total price is ${:,.2f}"
print(msg.format(price*1000000000))

Total price is $9,990,000,000.00

In [14]:
msg = "Current interest rate is {:%}"
print(msg.format(0.0516))

Current interest rate is 5.160000%

In [15]:
msg = "Current interest rate is {:.2%}"
print(msg.format(0.0516))

Current interest rate is 5.16%

In [16]:
msg = "Current interest rate is {:.1%}"
print(msg.format(0.0516))

Current interest rate is 5.2%

### Formatted String

In [17]:
first_name = "Big"
last_name = "Bird"

In [18]:
print("The main character is {first_name} {last_name}.")

The main character is {first_name} {last_name}.

In [19]:
print(f"The main character is {first_name} {last_name}.")

The main character is Big Bird.

In [20]:
amount = 1234567.89123
print(f"Amount is ${amount:,.3f}")

Amount is $1,234,567.891

In [21]:
print(f"Amount is {amount:,.3%}")

Amount is 123,456,789.123%

In [22]:
amount

1234567.89123

In [23]:
unit_price = 99.99
qty = 53
print(f"Subtotal: ${unit_price * qty}")

Subtotal: $5299.469999999999

In [24]:
print(f"Subtotal: ${unit_price * qty :,}")  # commas in thousands place

Subtotal: $5,299.469999999999

In [25]:
print(f"Subtotal: ${unit_price * qty :.2f}") #2 digits after the decimal point

Subtotal: $5299.47

In [26]:
print(f"Subtotal: ${unit_price * qty :,.2f}") #in dollar amount format

Subtotal: $5,299.47

In [27]:
x = 123.45143
print(f"{x:.3f}")

123.451

In [28]:
rate = 0.03255    # morgage rate 3.255%
print(f"Current rate: {rate:.2%}")

Current rate: 3.26%

In [29]:
print(f"Current rate: {rate:.9%}")

Current rate: 3.255000000%

In [31]:
prompt = ">"
print("Enter a number:")
numb1 = int(input(prompt))
print("Enter next number:")
numb2 = int(input(prompt))
total = numb1 * numb2
print(f"{numb1} * {numb2} = {total}")

Enter a number:
>89
Enter next number:
>59
89 * 59 = 5251

In [32]:
print(f"{numb1} + {numb2} = {numb1 + numb2 :,.3f}")
print(f"{numb1} - {numb2} = {numb1 - numb2 :,.3f}")
print(f"{numb1} * {numb2} = {numb1 * numb2 :,.3f}")
print(f"{numb1} / {numb2} = {numb1 / numb2 :,.3f}")

89 + 59 = 148.000
89 - 59 = 30.000
89 * 59 = 5,251.000
89 / 59 = 1.508

### Exercise 2
Write a program to find out user's annual salary. Then compute user's monthly salary and bi-weekly salary.
Display your results in nice formatted output.

#### Identify IPO

input:

process in pseudocode:



output:

#### Convert your pseudocode in to Python code

In [45]:
salary = int(input("Enter your salary: "))

monthly = salary / 12
biweekly = salary / 26

print(f"Your monthly salary is ${monthly:,.2f}")
print(f"Your biweekly salary is ${biweekly:,.2f}")

Enter your salary: 105000
Your monthly salary is $8,750.00
Your biweekly salary is $4,038.46

### Scientific Number Notation

In [33]:
no1 = 58000
print(f"{no1:e}")

5.800000e+04

In [34]:
print(f"{no1:.1e}")
print(f"{no1:.2e}")

5.8e+04
5.80e+04

In [35]:
no2 = 0.000123

print(f"{no2:.1e}")
print(f"{no2:.3e}")

1.2e-04
1.230e-04

In [36]:
no3 = 1.23456789e3
print(f"{no3}")
print(f"{no3:,}")
print(f"{no3:,.2f}")

1234.56789
1,234.56789
1,234.57

In [37]:
no3 = 1.23456e-3
print(f"{no3}")
print(f"{no3:,}")
print(f"{no3:,.3f}")
print(f"{no3:,.2f}")

0.00123456
0.00123456
0.001
0.00

In [38]:
no3 = 9e-3
print(f"{no3}")

0.009

### Exercise 3

In [40]:
# 1. Write 620000 in a scientific number notation
# 6.2e+5
value = 620000
print(f"{620000:.1e}")

6.2e+05

In [41]:
# 2. write 0.0091 in a scientific number notation
# 9.1e-3
print(f"{0.0091:e}")
print(f"{0.0091:.1e}")

9.100000e-03
9.1e-03

### Exercise 4

#### 1. Convert 217 to a binary number using FLOOR-DIVISION and MOD arithmetic operations

In [46]:
# 2 to the power of 0 
print(217//2)
print(217%2)

108
1

In [48]:
# power of 1
print(108//2)
print(108%2)

54
0

In [50]:
# power of 2
print(54//2)
print(54%2)

27
0

In [51]:
# power of 3
print(27//2)
print(27%2)

13
1

In [52]:
# power of 4
print(13//2)
print(13%2)

6
1

In [53]:
# power of 5
print(6//2)
print(6%2)

3
0

In [55]:
# power of 6
print(3//2)
print(3%2)

1
1

In [56]:
# power of 7
print(1//2)
print(1%2)

0
1

In [57]:
# Now, assemble your answer
11011001

11011001

#### 2. Convert 0b1110 0011 to a decimal number

In [58]:
# 2 to the power of 0
power0 = 1 * (2**0)
print(power0)

1

In [59]:
# power of 1
power1 = 1 * (2**1)
print(power1)

2

In [60]:
# power of 2
power2 = 0 * (2**2)
print(power2)

0

In [61]:
# power of 3
power3 = 0 * (2**3)
print(power3)

0

In [62]:
# power of 4
power4 = 0 * (2**4)
print(power4)

0

In [63]:
# power of 5
power5 = 1 * (2**5)
print(power5)

32

In [64]:
# power of 6
power6 = 1 * (2**6)
print(power6)

64

In [65]:
# power of 7
power7 = 1 * (2**7)
print(power7)

128

In [ ]:
# Now, assemble your answer

In [66]:
print(power0+power1+power2+power3+power4+power5+power6+power7)

227

### Use Data Type Casting

In [67]:
numb = 0b10011011
int(numb)

155

In [68]:
int(0b10011011)

155

In [69]:
bin(155)

'0b10011011'

In [70]:
type(bin(153))

str

In [71]:
numb = 0o1234567
int(numb)

342391

In [72]:
oct(342391)

'0o1234567'

In [73]:
numb = 153
hex(153)

'0x99'

In [78]:
int("0b10011011", 2)

155

In [76]:
int("0o10011011", 8)

2101769

In [12]:
int("0o1234567", 8)

342391

In [79]:
int(0x20b)

523

In [80]:
int("1011", 2)

11

In [81]:
int("1011", 8)

521

In [82]:
int("1011", 16)

4113

In [83]:
int("1011", 10)

1011

In [84]:
int("1011")

1011

In [85]:
numb = "1011"
print(f"Binary {numb} is integer {int(numb, 2)}\nOctal {numb} is integer {int(numb, 8)}\nHexa {numb} is integer {int(numb,16)}")

Binary 1011 is integer 11
Octal 1011 is integer 521
Hexa 1011 is integer 4113